{% load static %}
<div class="question-preview">
    <div class="row">
        <div class="col-3">
            <div class="my-header font-20">
                {{ question.author }}
            </div>
            <div class="text-center ">
                <img class="question-avatar" src={% static "img/ava.png" %} alt=avatar/>
            </div>
            <div class="like-dislike mx-auto align-center">
                <div class="like-counter text-center ">{{ question.like_count }}</div>
                <div class="btn-group " role="group">
                    <button type="button" class="btn my-btn border-2 text-black">+</button>
                    <button type="button" class="btn my-btn border-2 text-black">-</button>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="question-header">
                <a class="question-header" href="{% url 'question' question.id %}">{{ question.title }}</a>
            </div>
            <p class="question-text">
                {{ question.text }}
            </p>
            <div class="row">
                <div class="col-3 ms-0">
                    <a class="font-20 link" href="{% url 'question' question.id %}#answers">answers({{ question.id }})</a>
                </div>
                <div class="col-9 ms-0">
                    <span class="tags-text">Tags:</span>
                    {% for tag in question.tags %}
                        <a class="tags-text underline" href="{% url 'questions_by_tag' tag %}">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>