{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %} Registration {% endblock %}

{% block content %}
    <h2 class="my-header">Registration</h2>
    <form class="was-validated row question-form col-10 mx-auto" action="{% url 'signup' %}" method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mt-3 mx-auto">
            <div class="col-12 mx-auto form-floating">
                {{ form.email }}
                <label for="{{ form.email.id_for_label }}">Email address</label>
<!--                <input type="email" name="email" maxlength="100" class="form-control" id="email-input"-->
<!--                       placeholder="example@mail.ru" required>-->
<!--                <label for="email-input">Email address</label>-->
            </div>
        </div>
        <div class="row mt-3 mx-auto">
            <div class="col-12 mx-auto form-floating">
<!--                <input type="text" class="form-control" name="nick" maxlength="100" id="nick-input"-->
<!--                       placeholder="NiCk_NaMe123" pattern="^\w+$" required>-->
<!--                <label for="nick-input">Your nick name</label>-->
                {{ form.username }}
<!--                <div class="requirements">Invalid nickname. Example is "My_NiCkNaMe55".</div>-->
                <label for="{{ form.username.id_for_label }}">Your nickname</label>
            </div>
        </div>
        <div class="row mt-3 mx-auto">
            <div class="col-12 mx-auto form-floating">
<!--                <input type="password" name="password" maxlength="100" class="form-control" id="password-input"-->
<!--                       placeholder="Password" required pattern="^(?=.*\d)(?=.*[A-Z]).{6,}$">-->
<!--                <label for="password-input">Password</label>-->
                {{ form.password }}
<!--                <div class="requirements">Invalid password. it must contain one upper and one lowercase letter and at-->
<!--                    least one number and be 8-100 characters long <br> Example is "aA1fera**".-->
<!--                </div>-->
                <label for="{{ form.password.id_for_label }}">Password</label>
            </div>
        </div>
        <div class="row mt-3 mx-auto">
            <div class="col-12 mx-auto form-floating">
<!--                <input type="password" name="password-mach" maxlength="100" class="form-control"-->
<!--                       id="password-match-input" placeholder="Password" required pattern="^(?=.*\d)(?=.*[A-Z]).{6,}$">-->
<!--                <label for="password-mach-input">Repeat password</label>-->
<!--            </div>-->
                {{ form.repeat_password }}
                <div> {{ form.errors.repeat_password }} </div>
                <label for="{{ form.repeat_password.id_for_label }}">Password</label>

<!--{#                #}-->
<!--{#                <input type="password" name="password-mach" maxlength="100" class="form-control"#}-->
<!--{#                       id="password-match-input" placeholder="Password" required pattern="^(?=.*\d)(?=.*[A-Z]).{6,}$">#}-->
<!--{#                <label for="password-mach-input">Repeat password</label>#}-->
<!--{#                <div class="requirements">The password does not match.</div>#}-->
            </div>
        </div>
<!--        <div class="row mt-3 mx-auto">-->
<!--            <label class="font-20 answer-text">Upload picture:</label>-->
<!--        </div>-->
        <div class="text-center">
                {{ form.avatar }}
                <label for="{{ form.avatar.id_for_label }}"
                   class="w-50 input-group-text mx-auto btn my-btn border-3 link mt-3"  >upload
                the avatar</label>
<!--                <img class="question-avatar" src="{% static "img/ava.png" %}" alt=avatar>-->
        </div>
<!--        <div class="row mt-3 mx-auto">-->
<!--            <div class="form-row">-->
<!--                 <input type="file" class="form-control-file" id="avatar_uploader">-->
<!--            </div>-->
<!--        </div>-->
        <div class="row mb-1 mx-auto">
            <div>
                {% for error in form.non_field_errors %}
                    <p class="text-white"> {{ error }} </p>
                {% endfor %}

                {% for field in form %}
                    {% if field.errors %}
                        <li class="text-white">{{ field.label }}: {{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}
            </div>
<!--{#          <div class="col-4">#}-->
            <div class="align-center mt-3">
                {% buttons %}
                    <button class="btn btn-success btn-lg" type="submit">Sign up</button>
                {% endbuttons %}
            </div>
        </div>
    </form>
{% endblock %}
