{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %} Settings {% endblock %}
{% block content %}
    <h2 class="my-header">Settings</h2>
    <form class="was-validated row question-form col-10 mx-auto" action="{% url 'settings' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mt-3 mx-auto">
            <div class="col-12 mx-auto form-floating">
                {{ form.email }}
<!--                <input type="email" class="form-control" name="email" maxlength="50" id="email-input"-->
<!--                       placeholder="example@mail.ru" value={{ user.email }}>-->
<!--                <label for="email-input">Email address</label>-->
                <label for="{{ form.email.id_for_label }}">Email address</label>
            </div>
        </div>
        <div class="row mt-3 mx-auto">
            <div class="col-12 mx-auto form-floating">
                {{ form.username }}
<!--                <input type="text" class="form-control" name="nick" maxlength="100" id="nick-input"-->
<!--                       placeholder="Nick_1" pattern="^\w+$" value="{{ user.nick }}">-->
<!--                <label for="nick-input">NickName</label>-->
                <label for="{{ form.username.id_for_label }}">Nickname</label>
            </div>
        </div>
        <div class="row mt-3 mx-auto">
            <div class="col-12 mx-auto form-floating">
                {{ form.password }}
<!--                <input type="password" name="password" maxlength="100" class="form-control" id="password-input"-->
<!--                       placeholder="Password" pattern="^(?=.*\d)(?=.*[A-Z]).{6,}$">-->
<!--                <label for="password-input">Password</label>-->
                <label for="{{ form.password.id_for_label }}">Password</label>
            </div>
        </div>
        <div class="row mt-3 mx-auto">
            <div class="col-12 mx-auto form-floating">
                {{ form.repeat_password }}
                <label for="{{ form.repeat_password.id_for_label }}">Repeat password</label>
<!--                <input type="password" name="password-mach" maxlength="100" class="form-control"-->
<!--                       id="password-match-input" placeholder="Password" pattern="^(?=.*\d)(?=.*[A-Z]).{6,}$">-->
<!--                <label for="password-mach-input">Repeat password</label>-->
            </div>
        </div>}
<!--        <div class="row mt-3 mx-auto">-->
<!--            <label class="font-20 answer-text">Upload picture:</label>-->
<!--        </div>-->
        <div class="text-center">
            {{ form.avatar }}
            <label for="{{ form.avatar.id_for_label }}"
            class="w-50 input-group-text mx-auto btn my-btn border-3 link">Upload new avatar</label>
<!--                <img class="question-avatar" src="{% static "img/ava.png" %}" alt=avatar>-->
        </div>
        <div class="text-center">
                <img class="question-avatar" src="{{ MEDIA_URL }}{{ user.profile.avatar.url }}" alt=avatar>
        </div>
<!--        <div class="row mt-3 mx-auto">-->
<!--            <div class="form-row">-->
<!--                 <input type="file" class="form-control-file" id="avatar_uploader">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row mt-3 mx-auto">-->
<!--            <div class="form-row">-->
<!--                 <input type="file" class="form-control-file" id="avatar_uploader">-->
<!--            </div>-->
<!--        </div>-->
        <div class="row mx-auto align-center">
            {% buttons %}
                <button class="btn btn-success btn-lg" type="submit">Save</button>
            {% endbuttons %}
        </div>
        <div class="row mb-1 mx-auto">
            <div class="text-white align-center">
                {% for error in form.non_field_errors %}
                    <p> {{ error }} </p>
                {% endfor %}

                {% for field in form %}
                    {% if field.errors %}
                        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </form>
{% endblock %}